
$color-primary-100: #fbfcff;
$color-primary-200: #f8faff;
$color-primary-300: #f4f7ff;
$color-primary-400: #f2f5ff;
$color-primary-500: #eef2ff;
$color-primary-600: #adb7db;
$color-primary-700: #7783b7;
$color-primary-800: #4b5793;
$color-primary-900: #2d387a;
$color-primary-transparent-100: rgba(238, 242, 255, 0.08);
$color-primary-transparent-200: rgba(238, 242, 255, 0.16);
$color-primary-transparent-300: rgba(238, 242, 255, 0.24);
$color-primary-transparent-400: rgba(238, 242, 255, 0.32);
$color-primary-transparent-500: rgba(238, 242, 255, 0.4);
$color-primary-transparent-600: rgba(238, 242, 255, 0.48);
$color-success-100: #cffdd6;
$color-success-200: #9ffcb8;
$color-success-300: #6ef8a1;
$color-success-400: #4af198;
$color-success-500: #12e88b;
$color-success-600: #0dc789;
$color-success-700: #09a781;
$color-success-800: #058675;
$color-success-900: #036f6b;
$color-success-transparent-100: rgba(18, 232, 139, 0.08);
$color-success-transparent-200: rgba(18, 232, 139, 0.16);
$color-success-transparent-300: rgba(18, 232, 139, 0.24);
$color-success-transparent-400: rgba(18, 232, 139, 0.32);
$color-success-transparent-500: rgba(18, 232, 139, 0.4);
$color-success-transparent-600: rgba(18, 232, 139, 0.48);
$color-info-100: #d9ecff;
$color-info-200: #b3d7ff;
$color-info-300: #8dbfff;
$color-info-400: #71aaff;
$color-info-500: #4287ff;
$color-info-600: #3068db;
$color-info-700: #214cb7;
$color-info-800: #153593;
$color-info-900: #0c247a;
$color-info-transparent-100: rgba(66, 135, 255, 0.08);
$color-info-transparent-200: rgba(66, 135, 255, 0.16);
$color-info-transparent-300: rgba(66, 135, 255, 0.24);
$color-info-transparent-400: rgba(66, 135, 255, 0.32);
$color-info-transparent-500: rgba(66, 135, 255, 0.4);
$color-info-transparent-600: rgba(66, 135, 255, 0.48);
$color-warning-100: #fffbd3;
$color-warning-200: #fff6a6;
$color-warning-300: #fff07a;
$color-warning-400: #ffea59;
$color-warning-500: #ffe123;
$color-warning-600: #dbbe19;
$color-warning-700: #b79c11;
$color-warning-800: #937b0b;
$color-warning-900: #7a6406;
$color-warning-transparent-100: rgba(255, 225, 35, 0.08);
$color-warning-transparent-200: rgba(255, 225, 35, 0.16);
$color-warning-transparent-300: rgba(255, 225, 35, 0.24);
$color-warning-transparent-400: rgba(255, 225, 35, 0.32);
$color-warning-transparent-500: rgba(255, 225, 35, 0.4);
$color-warning-transparent-600: rgba(255, 225, 35, 0.48);
$color-danger-100: #ffeade;
$color-danger-200: #ffd0be;
$color-danger-300: #ffb09e;
$color-danger-400: #ff9286;
$color-danger-500: #ff615e;
$color-danger-600: #db444e;
$color-danger-700: #b72f44;
$color-danger-800: #931d3a;
$color-danger-900: #7a1233;
$color-danger-transparent-100: rgba(255, 97, 94, 0.08);
$color-danger-transparent-200: rgba(255, 97, 94, 0.16);
$color-danger-transparent-300: rgba(255, 97, 94, 0.24);
$color-danger-transparent-400: rgba(255, 97, 94, 0.32);
$color-danger-transparent-500: rgba(255, 97, 94, 0.4);
$color-danger-transparent-600: rgba(255, 97, 94, 0.48);
