.brand {
  color: $color-primary-500;
  font-family: violet, sans-serif;
}

.neumorph {
  box-shadow: -0.5rem -0.5rem 1rem $color-primary-200, 0.5rem 0.5rem 1rem $color-primary-600, inset -0.1rem -0.1rem 0.1rem $color-primary-200;
}

